---
import Icon from "./Icon.astro";
---
<section class="box">
  <h2><Icon icon="hourglass" color="var(--accent-regular)" size="2rem" />Experience</h2>
  <div>
    <h3>VP Engineering | Kymono | 2020-2024</h3>
    <p>
      <strong>Goal: </strong>Transform Kymono into a tech company.
    </p>
    <p>
      <strong>Achievments:</strong>
      <ul>
        <li>Business analysis</li>
        <li>Design, development and production of 6 business applications & kymono.co website</li>
        <li>Implementation of SCRUM: DSM, Grooming, Sprint Planning, Quarterly Retrospectives</li>
        <li>Backlog management / Product management / Weekly prioritization / Regular meetings with business teams</li>
        <li>Innovative recruitment process</li>
        <li>Management of 3 developers and 1 proxy PO: Monthly 1-1 with improvement analysis</li>
        <li>Mob Reviewing of PRs</li>
        <li>Infrastructure setup: GCP, Kubernetes, Infrastructure as Code, Monorepo, Innovative CI/CD</li>
        <li>Implementation of a pyramidal strategy for unit and E2E tests</li>
        <li>Establishment of coding style: Eslint, functional programming, KISS, DRY, Rule of 3, YAGNI</li>
      </ul>
    </p>
  </div>
  <div>
    <h3>Team Lead | Saint-Gobain (SFEIR) | 2019-2020</h3>
    <p>
      <strong>Goal: </strong>Replace the ERP of all SGBDF brands (Point P, ...).
    </p>
    <p>
      <strong>Achievments:</strong>
      <ul>
        <li>Organization of DSM for a squad of 8 fullstack Java/Angular developers</li>
        <li>Meetings with business teams / PO</li>
        <li>Review of PRs</li>
        <li>Technical debt analysis</li>
        <li>Refactoring (removal of 30,000 lines of code)</li>
        <li>Migration and version upgrade</li>
        <li>Evangelization on monorepo</li>
      </ul>
    </p>
  </div>
  <div>
    <h3>Tech Lead Front | Société Générale (SFEIR) | 2017-2019</h3>
    <p>
      <strong>Goal: </strong>Build and enhance sgmarkets.com internal applications.
    </p>
    <p>
      <strong>Achievments:</strong>
      <ul>
        <li>Feature development (TypeScript, SSO, React, Redux)</li>
        <li>Migrations (AngularJS -> Angular)</li>
        <li>Pair-programming</li>
        <li>Real-time Trading (Websocket)</li>
        <li>Organizer of the Frontend Guild</li>
      </ul>
    </p>
  </div>
  <div>
    <h3>Tech Lead React & Assistant Scrum Master | SEB (Wemanity) | 2016</h3>
    <p>
      Creation of Foodle, an application that lists and configures culinary recipes on SEB connected products.
    </p>
  </div>
  <div>
    <h3>Tech Lead FullStack | AXA (Wemanity) | 2016</h3>
    <p>
      <strong>Goal: </strong>Creation of Health At Work, an application that simplifies medical visits in the workplace.
    </p>
    <p>
      <strong>Achievments:</strong>
      <ul>
        <li>Design of the technical architecture</li>
        <li>Database modeling</li>
        <li>Development with Angular2 and Loopback (NodeJS)</li>
      </ul>
    </p>
  </div>
  <div>
    <h3>Tech Lead FullStack | WeStud.io (Wemanity) | 2015-2016</h3>
    <p>
      Creation of websites for Club Med, BookMyLimo, KillMyBill, and Nubu.
    </p>
  </div>
  <div>
    <h3>FullStack Engineer | Freelance | 2014-2015</h3>
    <p>
      <strong>Achievements:</strong>
      <ul>
        <li>Development of applications for Vinexplore, Maison De La Chantilly, and Somhome</li>
        <li>PHP Trainer</li>
      </ul>
    </p>
  </div>
  <div>
    <h3>Product Owner | Fantouch | 2014</h3>
    <p>
      Creation of an “OnlyFans” for artists from record labels
    </p>
  </div>
  <div>
    <h3>Founder | Tivika | 2014</h3>
    <p>
      Creation of a movie and series recommendation application
    </p>
  </div>
  <div>
    <h3>Co-Founder & Fullstack Engineer | Askalll | 2011-2013</h3>
    <p>
      Creation of a micro-survey social network
    </p>
  </div>
  <div>
    <h3>FullStack Engineer | SMILE | 2011-2013</h3>
    <p>
      <strong>Achievements:</strong>
      <ul>
        <li>PHP Consultant for Gallimard, GDF-Suez, Société Générale (Lyxor), Habitat, Vente-Unique, Bouygues-Télécom, and Open World Forum</li>
      </ul>
    </p>
  </div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);

    h2 {
      text-align: center;
      font-size: var(--text-xl);
      margin-bottom: 3rem;
      margin: 1.5rem;
    }

    h3 {
      font-size: var(--text-lg);
      margin-bottom: 1rem;
    }

    &>div {
      padding: 1.5rem;
      border-top: 1px solid var(--gray-800);
    }
	}
</style>